.product_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 80px 0;
}
.product_contents {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #1f2533;
}
.products {
  padding-top: 24px;
  background-color: #fcfcfc;
}
.product_contents h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -0.05em;
  text-align: left;
}
.user_image {
  border-radius: 150px;
  overflow: hidden;
}
.product_card h3 {
  padding: 12px 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: -0.05em;
}
.product_card p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  padding-bottom: 6px;
}
.product_card {
  color: #1f2533;
  text-align: center;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 12px;
  transition: 0.2s linear;
}
.product_card:hover {
  transform: scale(1.01);
  box-shadow: 2px 8px 2rem #000;
}
